
{{ validJson() }}
{{sliceNames | json}}
<section class="flex space-evenly">

  <article >
    <div>
      <label class="block label">bread crumb</label>
      {{ breadCrumb }}
    </div>
    <div>
      <label class="block label">file path</label>
      {{ filePath }}
    </div>
    <div>
      <label class="block label">current File</label>
      {{ currentFile }}
    </div>
    <div>
      <button (click)="goToSlices()">Slices</button>
    </div>
  </article>
  <article>
    <div>
      <h3 *ngIf="isNewSlice()">New File</h3>
      <h3 class="disabled" *ngIf="isOldSlice()">Old File</h3>
      <input type="text" [(ngModel)]="newDataName">

    </div>
    <div>
      Object keys : {{ objectKeys | json }}
    </div>

    <div>
      <button class="enabled" *ngIf="validJson()" (click)="createActionFile()">
        create action file
      </button>
      <button class="disabled" disabled *ngIf="!validJson()" >
        create action file
      </button>
    </div>

  </article>



</section>

<button (click)="createFiles()">sliceText</button>

<section class="flex space-evenly">


  <article class="flex-1">
    <div class="backFolder" (click)="back()" *ngIf="breadCrumb.length > 1">
      <--
    </div>
    <ng-container *ngFor="let dir of dirs">
      <ng-container *ngIf="dir.isDir">
        <div (click)="clickFolder(dir.key)" class="folder">{{ dir.key }}</div>
      </ng-container>

    </ng-container>
    <ng-container *ngFor="let dir of dirs">
      <ng-container *ngIf="!dir.isDir">
        <div (click)="readFile(dir.key)" class="file">{{ dir.key }}</div>
      </ng-container>

    </ng-container>
  </article>
  <article class="flex-1">
    <h3>object</h3>
    <textarea [(ngModel)]="object" name="" id="" class="text-area" cols="30" rows="10"></textarea>
    <h3>current file text: {{ currentFile }}</h3>
    <textarea  id="textarea" class="text-area" [(ngModel)]="fileText" cols="30" rows="10"></textarea>
    <h3>actionFileCreated</h3>
    <textarea  id="textarea-action" class="text-area" [(ngModel)]="actionFileCreated" cols="30" rows="10"></textarea>
    <h3>mainFileCreated</h3>
    <textarea  id="textarea-main" class="text-area" [(ngModel)]="mainFileCreated" cols="30" rows="10"></textarea>
  </article>

</section>
<section>
  {{sliceText | json}}
</section>
